<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Watson Speech to Text (STT) Library</title>
	<link rel="stylesheet" href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/canary/plex.css" />
	<link rel="stylesheet" href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/canary/grid.css" />
	<script>
		async function uploadFile() {
			let formData = new FormData();
			formData.append("file", fileupload.files[0]);
			let response = await fetch('/uploadFile', {
				method: "POST",
				body: formData
			}).then((response) => response.json())
				.then((data) => {
					var root = document.getElementById('trRoot');
					data.forEach(element => root.insertAdjacentHTML('beforebegin', `<bx-table-row><bx-table-cell>${element.confidence}</bx-table-cell><bx-table-cell>${element.transcript}</bx-table-cell></bx-table-row>`));

				});

		}
	</script>
	<style>
		.row {
			display: flex;
			/* equal height of the children */
		}

		.col {
			flex: 1;
			/* additionally, equal width */
			padding: 1em;
			border: solid 1px;
			height: 490px;
			overflow: scroll;
		}

		.cols {
			flex: 1;
			/* additionally, equal width */
			padding: 1em;
			border: solid 1px;
		}

		.Footer-module--footer--spNBO {
			background: #000;
			color: #f4f4f4;
			font-size: var(--cds-body-short-01-font-size, .875rem);
			font-weight: var(--cds-body-short-01-font-weight, 400);
			letter-spacing: var(--cds-body-short-01-letter-spacing, .16px);
			line-height: var(--cds-body-short-01-line-height, 1.28572);
			width: 100%;
			z-index: 2;
			text-align: center;
			padding: 10px;
			position: fixed;
			left: 0;
			bottom: 0;
		}
	</style>
</head>

<body>
	<bx-header aria-label="STT Application">
		<bx-header-menu-button button-label-active="Close menu" button-label-inactive="Open menu">
		</bx-header-menu-button>
		<bx-header-name href="/index" prefix="STT">Application</bx-header-name>
		<div style="color:ghostwhite;text-align:center;width:80%">
			<h3>Watson Speech To Text</h3>
		</div>
	</bx-header>

	<div class="bx--grid">
		<div class="bx--row">
			<div class="bx--col-sm-4 bx--col-lg-12" style="margin: 6rem 0;">

				<bx-tabs trigger-content="Select an item" value="panel-1">
					<bx-tab id="sample-audio" target="panel-1" value="panel-1">Sample Audio</bx-tab>
					<bx-tab id="sample-audio-param" target="panel-4" value="panel-4">Audio with Parameter</bx-tab>
					<bx-tab id="upload-your-audio" target="panel-2" value="panel-2">Upload Your Audio</bx-tab>
					<bx-tab id="upload-your-audio" target="panel-3" value="panel-3">Streaming Audio</bx-tab>
				</bx-tabs>

				<div class="bx-ce-demo-devenv--tab-panels">
					<div id="panel-1" role="tabpanel" aria-labelledby="sample-audio">
						<h4 style="text-align:center; margin-top:10px">Sample audio files to generate and download
							transcript</h4>
						<table style="margin-top: 10px;width:100%;vertical-align: middle;" class="table">
							<tr>
								<td width="30%">
									Sample1
								</td>
								<td width=50%>

									<audio controls th:src="@{/audio/CallCenterSample1.wav}" Your browser does not
										support the <code>audio</code>
										element.
									</audio>
								</td>
								<td width="20%">
									<bx-link href="/transcript/CallCenterSample1.wav"> Convert </bx-link> |
									<bx-link href="/transcript/CallCenterSample1.wav/download"> Download </bx-link>
								</td>
							</tr>
							<tr>
								<td>
									sample2
								</td>
								<td>
									<audio controls th:src="@{/audio/CallCenterSample2.wav}" Your browser does not
										support the <code>audio</code>
										element.
									</audio>
								</td>
								<td>
									<bx-link href="/transcript/CallCenterSample2.wav"> Convert </bx-link> |
									<bx-link href="/transcript/CallCenterSample2.wav/download"> Download </bx-link>
								</td>
							</tr>
							<tr>
								<td>
									Sample3
								</td>
								<td>
									<audio controls th:src="@{/audio/CallCenterSample3.wav}" Your browser does not
										support the <code>audio</code>
										element.
									</audio>
								</td>
								<td>
									<bx-link href="/transcript/CallCenterSample3.wav"> Convert </bx-link> |
									<bx-link href="/transcript/CallCenterSample3.wav/download"> Download </bx-link>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="center" style="padding-top: 10px;padding-bottom: 10px">
									<bx-link href="/transcript/all" class="btn btn-primary" role="button">Download all
									</bx-link>
								</td>
							</tr>
						</table>
						<bx-table th:if="${resultNP ne null}" class="table table-striped">
							<bx-table-body>
								<th:block th:each="rs : ${resultNP}">
									<bx-table-row>
										<bx-table-cell th:text="'Confidence: ' + ${rs.confidence}"></bx-table-cell>
									</bx-table-row>
									<bx-table-row>
										<bx-table-cell th:text="'Transcript: ' + ${rs.transcript}"></bx-table-cell>
									</bx-table-row>
								</th:block>
							</bx-table-body>
						</bx-table>
					</div>

					<div id="panel-4" role="tabpanel" aria-labelledby="sample-audio-param">
						<h4 style="text-align:center; margin-top:10px">Sample audio files with parameters to generate
							and download
							transcript</h4>
						<div class="row">
							<table>
								<tr>
									<th class="cols">Parameter</th>
									<th class="cols">Description</th>
								</tr>
								<tr>
									<td class="cols">1. Background Audio Suppression</td>
									<td class="cols">Use the background_audio_suppression parameter to suppress
										background audio based on its volume to prevent it from being transcribed as
										speech. You can specify a float value in the range of 0.0 to 1.0.</td>
								</tr>
								<tr>
									<td class="cols">2. End of Phrase Silence Time </td>
									<td class="cols">The end_of_phrase_silence_time parameter specifies the duration of
										the pause interval at which the service splits a transcript into multiple final
										results. You can specify a double value between 0.0 and 120.0 seconds.</td>
								</tr>
								<tr>
									<td class="cols">3. Speaker Labels </td>
									<td class="cols">The speaker label parameter can be used to identify which
										individuals spoke which words in a multi-participant exchange. You can use the
										feature to create a person-by-person transcript of an audio stream.</td>
								</tr>
								<tr>
									<td class="cols">4. Response formatting </td>
									<td class="cols">You can format a final transcript to include more conventional
										representations of certain strings and to include punctuation. You can redact
										sensitive numeric information from a final transcript, and you can filter
										profanity from most transcription results</td>
								</tr>
							</table>
						</div>
						<table style="margin-top: 10px;width:100%;vertical-align: middle;" class="table">
							<tr>
								<td>
									Sample1 - Background Audio Suppression & Response formatting
								</td>
								<td style="margin-top:10px;">
									<audio controls th:src="@{/audio/samples_back.wav}" Your browser does not support
										the <code>audio</code>
										element.
									</audio>
								</td>
								<td>
									<bx-link href="/transcript/param/samples_back.wav"> Convert </bx-link> |
									<bx-link href="/transcript/param/samples_back.wav/download"> Download </bx-link>
								</td>
							</tr>
							<tr>
								<td>
									Sample2 - End of Phrase Silence Time
								</td>
								<td>
									<audio controls th:src="@{/audio/samples_end.wav}" Your browser does not support the
										<code>audio</code>
										element.
									</audio>
								</td>
								<td>
									<bx-link href="/transcript/param/samples_end.wav"> Convert </bx-link> |
									<bx-link href="/transcript/param/samples_end.wav/download"> Download </bx-link>
								</td>
							</tr>
							<tr>
								<td>
									Sample3 -Speaker Labels
								</td>
								<td>
									<audio controls th:src="@{/audio/samples_speaker.wav}" Your browser does not support
										the <code>audio</code>
										element.
									</audio>
								</td>
								<td>
									<bx-link href="/transcript/param/samples_speaker.wav"> Convert </bx-link> |
									<bx-link href="/transcript/param/samples_speaker.wav/download"> Download </bx-link>
								</td>
							</tr>
							<br />
						</table>
						<br />
						<div class="row" th:if="${result ne null}">
							<div class="col">
								<bx-table class="table table-striped">
									<caption style="text-align: center;">Sample Audio Transcript (Before applying speech
										recognition parameters)</caption>
									<bx-table-body>
										<th:block th:each="rs : ${result}">
											<bx-table-row>
												<bx-table-cell th:text="'Confidence: ' + ${rs.confidence}">
												</bx-table-cell>
											</bx-table-row>
											<bx-table-row>
												<bx-table-cell th:text="'Transcript: ' + ${rs.transcript}">
												</bx-table-cell>
											</bx-table-row>
										</th:block>
									</bx-table-body>
								</bx-table>
							</div>
							<div class="col">
								<bx-table th:if="${resultParam ne null}" class="table table-striped">
									<caption style="text-align: center;">Sample Audio Transcript with Parameter (After
										applying speech recognition parameters)</caption>
									<bx-table-body>
										<th:block th:each="rs : ${resultParam}">
											<bx-table-row>
												<bx-table-cell th:text="'Confidence: ' + ${rs.confidence}">
												</bx-table-cell>
											</bx-table-row>
											<bx-table-row>
												<bx-table-cell th:text="'Transcript: ' + ${rs.transcript}">
												</bx-table-cell>
											</bx-table-row>
										</th:block>
									</bx-table-body>
								</bx-table>

								<bx-table th:if="${resultParamSpeaker ne null}" class="table table-striped">
									<caption style="text-align: center;">Sample Audio Transcript with Parameter (After
										applying speech recognition parameters)</caption>
									<bx-table-body>
										<th:block th:each="rs : ${resultParamSpeaker}">
											<bx-table-row>
												<bx-table-cell th:text="'Speaker: ' + ${rs.confidence}"></bx-table-cell>
											</bx-table-row>
											<bx-table-row>
												<bx-table-cell th:text="'Transcript: ' + ${rs.transcript}">
												</bx-table-cell>
											</bx-table-row>
										</th:block>
									</bx-table-body>
								</bx-table>

							</div>
						</div>
					</div>
					<div id="panel-2" role="tabpanel" aria-labelledby="upload-your-audio" hidden>
						<h4 style="text-align:center; margin-top:10px">Upload an audio file to generate transcript</h4>
						<table style="margin-top: 10px; margin-bottom:10px; width:100%;vertical-align: middle;"
							class="table">
							<tr>
								<td style="padding-bottom: 10px;">
									<input class="bx--btn bx--btn--primary bx--btn--sm" name="fileupload" type="file"
										id="fileupload">
								</td>
							</tr>
							<tr>
								<td>
									<bx-btn type="submit" class="bx--btn bx--btn--primary bx--btn--sm"
										onclick="uploadFile()"> Convert</bx-btn>
								</td>
							</tr>
						</table>
						<bx-table>
							<bx-table-body>
								<bx-table-row id="trRoot"></bx-table-row>
							</bx-table-body>
						</bx-table>
					</div>
					<div id="panel-3" role="tabpanel" aria-labelledby="upload-your-audio" hidden>
						<h4 style="text-align:center; margin-top:10px">Streaming using websocket</h4>
						<table>
							<tr>
								<td style="padding:10px">
									<bx-btn id="action" onclick="handleAction()"> Start Recording..
										<Microphone />
									</bx-btn>
								</td>
							</tr>
						</table>
						<div style="padding:10px" id="websocketResult">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="Footer-module--footer--spNBO">
		Please note that this content is made available to foster Embedded AI technology adoption. The
		content may include systems & methods pending patent with USPTO and protected under US Patent Laws. Copyright -
		2022 IBM Corporation
	</footer>
</body>
<script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/ui-shell.min.js"></script>
<script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/tabs.min.js"></script>
<script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/link.min.js"></script>
<script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/button.min.js"></script>
<script type="module"
	src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/file-uploader.min.js"></script>
<script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/data-table.min.js"></script>
<script th:inline="javascript">

	var websocketBaseUrl = /*[[${@environment.getProperty('websocket.baseurl')}]]*/

		console.log("base url", websocketBaseUrl);

	const sendData = (webSocket, data) => {
		var message = {
			'action': 'start'
		};

		try {
			webSocket.send(JSON.stringify(message));
			webSocket.send(data);
			webSocket.send(JSON.stringify({action: 'stop'}));
		} catch (exceptionVar) {

		}
	}

	const recordAudio = () =>
		new Promise(async resolve => {
			const stream = await navigator.mediaDevices.getUserMedia({audio: true});
			const mediaRecorder = new MediaRecorder(stream);
			let webSocket = new WebSocket(websocketBaseUrl + "/speech-to-text/api/v1/recognize");
			let audioChunks = [];
			let stopButton = document.getElementById("stopAction");

			mediaRecorder.addEventListener("dataavailable", event => {

				if (event.data.size > 0) {
					audioChunks.push(event.data);
					const audioBlob = new Blob(audioChunks, {type: "audio/mpeg"});
					sendData(webSocket, audioBlob);
				}
			});

			webSocket.onmessage = function (event) {
				var data = JSON.parse(event.data);
				if (data.results !== undefined) {
					data.results.forEach((element) => {
						element.alternatives.forEach((data) => {
							const divelement = document.getElementById("websocketResult");
							divelement.innerHTML = data.transcript;
							console.log(data.transcript);
						})
					});
				}
			};


			const start = () => mediaRecorder.start(2000);

			const stop = () =>
				new Promise(resolve => {
					mediaRecorder.addEventListener("stop", () => {
						const audioBlob = new Blob(audioChunks, {type: "audio/mpeg"});

						//sendData(webSocket,audioBlob);
						//const audioUrl = URL.createObjectURL(audioBlob);
						//const audio = new Audio(audioUrl);
						//const play = () => audio.play();
						//resolve({audioBlob, audioUrl, play});
						resolve({audioBlob});
					});

					mediaRecorder.stop();
				});

			resolve({start, stop});
		});

	const sleep = time => new Promise(resolve => setTimeout(resolve, time));

	const handleAction = async () => {
		const recorder = await recordAudio();
		const actionButton = document.getElementById("action");
		actionButton.disabled = true;

		recorder.start();
		await sleep(20000);
		await recorder.stop();

		//audio.play();
		actionButton.disabled = false;
	};


</script>

</html>